<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
<title>Editors</title>
<!-- <link rel="icon" href="/images/favicon.ico"> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap-datepicker.css">
<script src="/bootstrap4/jquery_v3.5.1.js"></script>
<script src="/bootstrap4/popper.min.js"></script>
<script src="/bootstrap4/bootstrap.min.js"></script>
<script src="/bootstrap4/bootstrap-datepicker.js"></script>
<script src="/bootstrap4/bootstrap-datepicker.ko.min.js"></script>
