<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"><%= postInfo.PST_TTL %></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"><%= postInfo.WRT_DTT %></div>
                    <!-- Post tags-->
                    <% for(let i = 0; i < postInfo.tagList.length; i++) { %>
                        <a class="badge bg-info text-white link-light" href="#"><%= postInfo.tagList[i].TAG_NM %></a>
                    <% } %>
                </header>
                <!-- Post content-->
                <section class="mb-5">
                    <%- postInfo.PST_CNTN %>
                </section>
            </article>
            <div class="form-group">
                <div class="float-right">
                    <a href="/" class="btn btn-success">글쓰기</a>
                </div>
            </div>
        </div>
    </div>
</div>